<!-- <div class="wrapper">
  <h2>Country Name Search</h2>

  <div class="controls">
    <input
      type="text"
      [(ngModel)]="query"
      placeholder="Type a country"
      (keyup.enter)="search()"
    />
    <button (click)="search()">Search</button>
  </div>

  @if (loading) {
    <p>Loading...</p>
  }
  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (!loading && !error && names.length ) {
    <ul>
      @for(n of names; track n) {
        <li>{{ n }}</li>
      }
    </ul>
  }


</div> -->
