
<app-combobox
  [options]="countries"
  [searchable]="true"
  placeholder="Select or Search Country"
  (valueChange)="onCountrySelected(0, $event)"
></app-combobox>

@if (selectedCountries[0]) {
  <p>You selected: <strong>{{ selectedCountries[0] }}</strong></p>
}

<hr />

<app-combobox
  [options]="countries"
  [searchable]="true"
  placeholder="Select a Country"
  (valueChange)="onCountrySelected(1, $event)"
></app-combobox>

@if (selectedCountries[1]) {
  <p>You selected: <strong>{{ selectedCountries[1] }}</strong></p>
}

<hr />

<app-combobox
  [options]="countries"
  [searchable]="true"
  placeholder="Pick a Country"
  (valueChange)="onCountrySelected(2, $event)"
></app-combobox>

@if (selectedCountries[2]) {
  <p>You selected: <strong>{{ selectedCountries[2] }}</strong></p>
}

<hr />

<app-combobox
  [options]="countries"
  [searchable]="true"
  placeholder="Pick a Country"
  (valueChange)="onCountrySelected(3, $event)"
></app-combobox>

@if (selectedCountries[3]) {
  <p>You selected: <strong>{{ selectedCountries[3] }}</strong></p>
}

<hr />

<app-combobox
  [options]="countries"
  [searchable]="true"
  placeholder="Pick a Country"
  (valueChange)="onCountrySelected(4, $event)"
></app-combobox>

@if (selectedCountries[4]) {
  <p>You selected: <strong>{{ selectedCountries[4] }}</strong></p>
}
